<h1>Analytics Dashboard</h1>

<div>
  <p>Date Range: <%= @start_date.strftime('%B %d, %Y') %> to <%= @end_date.strftime('%B %d, %Y') %></p>
</div>

<table border="1">
  <thead>
    <tr>
      <th>Metric</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Total Journeys Started</td>
      <td><%= @analytics_data[:total_journeys_started] %></td>
    </tr>
    <tr>
      <td>Total Journeys Completed</td>
      <td><%= @analytics_data[:total_journeys_completed] %></td>
    </tr>
    <tr>
      <td>Completion Rate</td>
      <td><%= @analytics_data[:completion_rate] %>%</td>
    </tr>
    <tr>
      <td>Front Office Completions</td>
      <td><%= @analytics_data[:front_office_completions] %></td>
    </tr>
    <tr>
      <td>Back Office Completions</td>
      <td><%= @analytics_data[:back_office_completions] %></td>
    </tr>
  </tbody>
</table>

