<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Change your password</h1>

    <%= form_for resource,
        as: resource_name,
        url: password_path(resource_name),
        html: { method: :put },
        builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>

      <%= render partial: "waste_carriers_engine/shared/error_summary", locals: { f: f } %>

      <%= f.hidden_field :reset_password_token %>

      <%= f.govuk_password_field :password,
          width: "one-half",
          label: { text: "New password" },
          hint: { text: "8 characters minimum"} %>

      <%= f.govuk_password_field :password_confirmation,
          width: "one-half",
          label: { text: "New password confirmation"} %>

      <%= f.govuk_submit "Change my password" %>

    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
