<% content_for :title, "Version" %>

<div class="text">
  <h1 class="heading-large"><%= t(".heading") %></h1>
  <p>
    <label><%= t(".app_version") %></label>
    <strong><%= Rails.configuration.application_version %></strong>
  </p>
  <p>
    <label><%= t(".commit") %></label>
    <strong>
      <%= link_to(Rails.configuration.git_commit,
                  Rails.configuration.git_commit_url,
                  target: "_blank",
                  class: "btn-link") %>
    </strong>
  </p>
  <p>
    <label><%= t(".render_time") %></label>
    <strong><%= l Time.zone.now %></strong>
  </p>
</div>
