<% if @renewal_received_form.errors.any? %>

  <h1 class="heading-large"><%= t(".error_heading") %></h1>

  <% @renewal_received_form.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>

<% else %>

  <%= form_for(@renewal_received_form) do |f| %>
    <%= render("shared/errors", object: @renewal_received_form) %>

    <h1 class="heading-large"><%= t(".heading") %></h1>

    <%= f.hidden_field :reg_identifier, value: @renewal_received_form.reg_identifier %>
  <% end %>

<% end %>
