<%= render("shared/back", back_path: back_check_your_answers_forms_path(@check_your_answers_form.reg_identifier)) %>

<% if @check_your_answers_form.errors.any? %>

  <h1 class="heading-large"><%= t(".error_heading") %></h1>

  <% @check_your_answers_form.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>

<% else %>

  <%= form_for(@check_your_answers_form) do |f| %>
    <%= render("shared/errors", object: @check_your_answers_form) %>

    <h1 class="heading-large"><%= t(".heading") %></h1>

    <p><%= @check_your_answers_form.reg_identifier %></p>

    <h2 class="heading-medium"><%= t(".location_label") %></h2>
    <p><%= t(".location.#{@check_your_answers_form.location}") %></p>

    <h2 class="heading-medium"><%= t(".business_type_label") %></h2>
    <p><%= t(".business_type.#{@check_your_answers_form.business_type}") %></p>

    <h2 class="heading-medium"><%= t(".tier_label") %></h2>
    <p><%= t(".tier.#{@check_your_answers_form.tier}") %></p>

    <h2 class="heading-medium"><%= t(".registration_type_label") %></h2>
    <p><%= t(".registration_type.#{@check_your_answers_form.registration_type}") %></p>

    <h2 class="heading-medium"><%= t(".company_name_label") %></h2>
    <p><%= @check_your_answers_form.company_name %></p>

    <% if @check_your_answers_form.company_no.present? %>
      <h2 class="heading-medium"><%= t(".company_no_label") %></h2>
      <p><%= @check_your_answers_form.company_no %></p>
    <% end %>

    <h2 class="heading-medium"><%= t(".registered_address_label") %></h2>
    <ul>
      <% @check_your_answers_form.registered_address.each do |line| %>
        <li><%= line %></li>
      <% end %>
    </ul>

    <h2 class="heading-medium"><%= t(".main_people_label") %></h2>
    <% @check_your_answers_form.main_people.each do |person| %>
      <ul>
        <li><%= person.first_name %> <%= person.last_name %></li>
        <li><%= person.date_of_birth %></li>
      </ul>
    <% end %>

    <h2 class="heading-medium"><%= t(".declared_convictions_label") %></h2>
    <p><%= @check_your_answers_form.declared_convictions %></p>

    <h2 class="heading-medium"><%= t(".relevant_people_label") %></h2>
    <% @check_your_answers_form.relevant_people.each do |person| %>
      <ul>
        <li><%= person.first_name %> <%= person.last_name %></li>
        <li><%= person.position %></li>
        <li><%= person.date_of_birth %></li>
      </ul>
    <% end %>

    <h2 class="heading-medium"><%= t(".contact_name_label") %></h2>
    <p><%= @check_your_answers_form.contact_name %></p>

    <h2 class="heading-medium"><%= t(".phone_number_label") %></h2>
    <p><%= @check_your_answers_form.phone_number %></p>

    <h2 class="heading-medium"><%= t(".contact_email_label") %></h2>
    <p><%= @check_your_answers_form.contact_email %></p>

    <h2 class="heading-medium"><%= t(".contact_address_label") %></h2>
    <ul>
      <% @check_your_answers_form.contact_address.each do |line| %>
        <li><%= line %></li>
      <% end %>
    </ul>

    <%= f.hidden_field :reg_identifier, value: @check_your_answers_form.reg_identifier %>
    <div class="form-group">
      <%= f.submit t(".next_button"), class: "button" %>
    </div>
  <% end %>

<% end %>
