<%= render("shared/back", back_path: back_service_provided_forms_path(@service_provided_form.reg_identifier)) %>

<div class="text">
  <%= form_for(@service_provided_form) do |f| %>
    <%= render("shared/errors", object: @service_provided_form) %>

    <div class="form-group">
      <fieldset class="inline">
        <legend>
          <h1 class="heading-large"><%= t(".heading") %></h1>
        </legend>

        <div class="multiple-choice">
          <%= f.radio_button :is_main_service, "false" %>
          <%= f.label :is_main_service, t(".option_false"), value: "false" %>
        </div>
        <div class="multiple-choice">
          <%= f.radio_button :is_main_service, "true" %>
          <%= f.label :is_main_service, t(".option_true"), value: "true" %>
        </div>
      </fieldset>
    </div>

    <%= f.hidden_field :reg_identifier, value: @service_provided_form.reg_identifier %>
    <div class="form-group">
      <%= f.submit t(".next_button"), class: "button" %>
    </div>
  <% end %>
</div>
