<%= render("waste_carriers_engine/shared/back", back_path: back_copy_cards_payment_forms_path(token: @transient_registration.token)) %>

<div class="text">
  <%= form_for(@copy_cards_payment_form) do |f| %>
    <% if flash[:error].present? %>
      <div class="error-summary" role="alert">
        <h2 class="heading-medium error-summary-heading"><%= t(".payment_error_heading") %></h2>

        <ul class="error-summary-list">
          <p><%= flash[:error] %></p>
        </ul>
      </div>
    <% end %>

    <%= render("waste_carriers_engine/shared/errors", object: @copy_cards_payment_form) %>

    <h1 class="heading-large"><%= t(".heading") %></h1>

    <div class="form-group">
      <table>
        <tbody>
          <tr>
            <th>
              <span class="strong">
                <%= t(".total_cost", count: @transient_registration.temp_cards) %>
              </span>
            </th>
            <td><span class="strong">£<%= display_pence_as_pounds(@transient_registration.total_registration_card_charge) %></span></td>
          </tr>
        </tbody>
      </table>
    </div>

    <p><%= t(".vat_message") %></p>

    <%= render("waste_carriers_engine/shared/payment_summary_options", form: @copy_cards_payment_form, f: f) %>

    <div class="form-group">
      <%= f.submit t(".next_button"), class: "button" %>
    </div>
  <% end %>
</div>
